<form class="paint-form">
  <label>Sales Stock (Cost) <input type="number" value="<%= stats.totalSalesStock.toFixed(2) %>" readonly></label>
  <label>Refunded Stock <input type="number" value="<%= stats.totalRefundStock.toFixed(2) %>" readonly></label>
  <label>Outstanding Stock <input type="number" value="<%= stats.totalOutstandingStock.toFixed(2) %>" readonly></label>
  <label>Paid Outstand. Stock <input type="number" value="<%= stats.totalPaidOutstandingStock.toFixed(2) %>" readonly></label>
  <!-- <label>Company Refund <input type="number" value="<%= stats.totalCompanyRefund.toFixed(2) %>" readonly></label> -->
 <hr style="margin: 20px 0;">
  <label>Sales Profit - Sales Loss <input type="number" value="<%= stats.totalSaleProfit.toFixed(2) %>" readonly></label>
  <label>Refunded Profit <input type="number" value="<%= stats.totalRefundProfit.toFixed(2) %>" readonly></label>
  <label>Outstand. Profit <input type="number" value="<%= stats.totalOutstandingProfit.toFixed(2) %>" readonly></label>
  <label>Paid Outstand. Profit <input type="number" value="<%= stats.totalPaidOutstandingProfit.toFixed(2) %>" readonly></label>
  <label>Agent Commission Paid <input type="number" value="<%= stats.totalCommissionPaid.toFixed(2) %>" readonly></label>
  <label>Guest Expenses <input type="number" value="<%= stats.totalGuestExpenses.toFixed(2) %>" readonly></label>

</form>

<div class="results-box">
  <% 
    // STOCK FORMULA
    const ss  = stats.totalSalesStock;
    const rs  = stats.totalRefundStock;
    const os  = stats.totalOutstandingStock;
    const pos = stats.totalPaidOutstandingStock;
    const cr  = stats.totalCompanyRefund;
    
    const realStockValue = ss - rs - os + pos;     

    // PROFIT FORMULA
    const sp  = stats.totalSaleProfit;
    const rp  = stats.totalRefundProfit;
    const op  = stats.totalOutstandingProfit;
    const pop = stats.totalPaidOutstandingProfit;
    const ac  = stats.totalCommissionPaid;
    const ge  = stats.totalGuestExpenses;

    const realProfit = sp - rp - op + pop - ac - ge;
  %>

  <div class="stat-card">
    <p>Real Stock Value</p>
    <strong><%= realStockValue.toFixed(2) %></strong>
  </div>
  
  <div class="stat-card">
    <p>Real Profit </p>
    <strong style="color: #2e7d32;"><%= realProfit.toFixed(2) %></strong>
  </div>

  <hr style="margin: 20px 0;">

  <div>
    <small style="opacity: 0.8; text-transform: uppercase;">Total Cash In Counter (Stock + Profit)</small>
    <h2 style="margin: 10px 0; font-size: 2.2em;">
        <%= (realStockValue + realProfit).toFixed(2) %>
    </h2>
  </div>
</div>
